@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Montserrat:wght@300&display=swap");

body {
    
    font-family: "Kalam", cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 1rem;
}

/* --- NAV CHILD THAT HAS THE CLASS OF ACTIVE (WHEN USER SELECTS) */
nav .active {
    font-weight: bold;
    border: 1px solid chartreuse;
}

.show-link {
    cursor: pointer;
}
